mixin products(data)
    .productsHeaderContainer
        h1.productsHeaderContainer__header= data.header
    .productsContainer
        .productsContainer__listProduct
            each product in data.productsList
              .listProduct__product
                  image.product__image(src=""+product.image+"")
                  .product__textContainer
                      p.textContainer__productText= product.text