.productsHeaderContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  &__header {
    color: #e2191c;
    font-family: $font-family-luset;
    font-weight: 700;
    line-height: 1;
    font-size: 2.3em;
  }
}

.productsContainer {
  width: 100%;
  max-width: 820px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  &__listProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.listProduct__product {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.product__textContainer {
  display: flex;
  justify-content: center;
}

.textContainer__productText {
  font-family: $font-family-luset;
  font-weight: 700;
  color: #e2191c;
  font-size: 1.4em;
}
