doctype html
html(class="no-js", lang="ru")


    include ./utils/_mixins
    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/formInput/formInput.pug
    include ../components/products/products.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        .headerBlock
        +header(header.defaults)
        +formInput(formInput.defaults)
        +products(products.defaults)
        +footer(footer.defaults)