// Common styles of the project


html, body {
    height: 100%;
}

body {
    background-color: #ededed;
}

.headerBlock {
    transform: rotate(2deg) skew(-1deg) translate(2%);
    background-color: #e8cc9a;
    transform-origin: 0 0;
    border-bottom-right-radius: 11.25em;
    width: 68%;
    left: 16%;
    background-size: 100%;
    background-position: bottom center;
    position: absolute;
    z-index: -10000;
    top: -5em;
    height: 755px;

    @media only screen and (min-width: 1600px) {

        & {
            font-size: 1.3vw;
            height: 874px!important;
        }
    }

    @media only screen and (min-width: 1500px) {

        & {
            font-size: 1.3vw;
            height: 774px;
        }
    }

    @media only screen and (min-width: 1300px) {

        & {
            font-size: 1.3vw;
            height: 810px;
        }
    }

    @media only screen and (max-width: 900px) {

        & {
            height: 613px;
            font-size: 1.3vw;
        }
    }

    @media only screen and (max-width: 850px) {

        & {
            height: 580px;
        }
    }

    @media only screen and (max-width: 680px) {

        & {
            height: 562px;
        }
    }

    @media only screen and (max-width: 650px) {

        & {
            height: 525px;
        }
    }

    @media only screen and (max-width: 580px) {

        & {
            height: 430px;
        }
    }

    @media only screen and (max-width: 500px) {

        & {
            height: 375px;
        }
    }

    @media only screen and (max-width: 400px) {

        & {
            height: 350px;
        }
    }

    @media only screen and (max-width: 380px) {

        & {
            height: 350px;
        }
    }

    @media only screen and (max-width: 350px) {

        & {
            height: 320px;
        }
    }

}

.page {
    
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}