@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

@font-face {
  font-family: 'Luset';
  src: url('../fonts/Luset-Bold.eot');
  src: url('../fonts/Luset-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Luset-Bold.woff2') format('woff2'),
  url('../fonts/Luset-Bold.woff') format('woff'),
  url('../fonts/Luset-Bold.ttf') format('truetype'),
  url('../fonts/Luset-Bold.svg#Luset-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Luset';
  src: url('../fonts/Luset-Light.eot');
  src: url('../fonts/Luset-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Luset-Light.woff2') format('woff2'),
  url('../fonts/Luset-Light.woff') format('woff'),
  url('../fonts/Luset-Light.ttf') format('truetype'),
  url('../fonts/Luset-Light.svg#Luset-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Luset';
  src: url('../fonts/Luset-Regular.eot');
  src: url('../fonts/Luset-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Luset-Regular.woff2') format('woff2'),
  url('../fonts/Luset-Regular.woff') format('woff'),
  url('../fonts/Luset-Regular.ttf') format('truetype'),
  url('../fonts/Luset-Regular.svg#Luset-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlavourBold';
  src: url('../fonts/Flavour-Bold.eot');
  src: url('../fonts/Flavour-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Flavour-Bold.woff2') format('woff2'),
  url('../fonts/Flavour-Bold.woff') format('woff'),
  url('../fonts/Flavour-Bold.ttf') format('truetype'),
  url('../fonts/Flavour-Bold.svg#Flavour-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alverata';
  src: url('../fonts/AlverataW01-Medium.eot');
  src: url('../fonts/AlverataW01-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlverataW01-Medium.woff2') format('woff2'),
  url('../fonts/AlverataW01-Medium.woff') format('woff'),
  url('../fonts/AlverataW01-Medium.ttf') format('truetype'),
  url('../fonts/AlverataW01-Medium.svg#AlverataW01-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Barmeno';
  src: url('../fonts/Barmeno-Medium.eot');
  src: url('../fonts/Barmeno-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Barmeno-Medium.woff2') format('woff2'),
  url('../fonts/Barmeno-Medium.woff') format('woff'),
  url('../fonts/Barmeno-Medium.ttf') format('truetype'),
  url('../fonts/Barmeno-Medium.svg#Barmeno-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'StoneInformalITCW03-SmBdIt';
  src: url('../fonts/StoneInformalITCW03-SmBdIt.eot');
  src: url('../fonts/StoneInformalITCW03-SmBdIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/StoneInformalITCW03-SmBdIt.woff2') format('woff2'),
  url('../fonts/StoneInformalITCW03-SmBdIt.woff') format('woff'),
  url('../fonts/StoneInformalITCW03-SmBdIt.ttf') format('truetype'),
  url('../fonts/StoneInformalITCW03-SmBdIt.svg#StoneInformalITCW03-SmBdIt') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kinesis Std';
  src: url('../fonts/KinesisStd-Semibold.eot');
  src: url('../fonts/KinesisStd-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KinesisStd-Semibold.woff2') format('woff2'),
  url('../fonts/KinesisStd-Semibold.woff') format('woff'),
  url('../fonts/KinesisStd-Semibold.ttf') format('truetype'),
  url('../fonts/KinesisStd-Semibold.svg#KinesisStd-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
