mixin footer(data)
    .footer
        .footer__logo
            image(src=""+data.image+"")
        .footer__copyright
            p= data.copyright
        .footer__links
            each link, index in data.links
                if data.links[index + 1]
                  a(href=""+link.link+"").link= link.text + " | "
                else
                  a(href=""+link.link+"").link= link.text