.footer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  font-family: "Arial",sans-serif;
  font-size: 11px;
  color: #5a5a5a;
  justify-content: center;

  &__logo>img {
    max-width: 94px;
  }

  &__logo {
    margin: 14px 10px 0;
  }

  &__copyright {
    margin: 14px 10px 0;
  }

  &__links {
    margin: 25px 10px 0;


    &>a {
      text-decoration: none;
      color: #5a5a5a;

      &:hover {
        text-decoration: underline;
      }
    }
  }


}