/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'Luset';
  src: url("../fonts/Luset-Bold.eot");
  src: url("../fonts/Luset-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Luset-Bold.woff2") format("woff2"), url("../fonts/Luset-Bold.woff") format("woff"), url("../fonts/Luset-Bold.ttf") format("truetype"), url("../fonts/Luset-Bold.svg#Luset-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Luset';
  src: url("../fonts/Luset-Light.eot");
  src: url("../fonts/Luset-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Luset-Light.woff2") format("woff2"), url("../fonts/Luset-Light.woff") format("woff"), url("../fonts/Luset-Light.ttf") format("truetype"), url("../fonts/Luset-Light.svg#Luset-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Luset';
  src: url("../fonts/Luset-Regular.eot");
  src: url("../fonts/Luset-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Luset-Regular.woff2") format("woff2"), url("../fonts/Luset-Regular.woff") format("woff"), url("../fonts/Luset-Regular.ttf") format("truetype"), url("../fonts/Luset-Regular.svg#Luset-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlavourBold';
  src: url("../fonts/Flavour-Bold.eot");
  src: url("../fonts/Flavour-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Flavour-Bold.woff2") format("woff2"), url("../fonts/Flavour-Bold.woff") format("woff"), url("../fonts/Flavour-Bold.ttf") format("truetype"), url("../fonts/Flavour-Bold.svg#Flavour-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alverata';
  src: url("../fonts/AlverataW01-Medium.eot");
  src: url("../fonts/AlverataW01-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AlverataW01-Medium.woff2") format("woff2"), url("../fonts/AlverataW01-Medium.woff") format("woff"), url("../fonts/AlverataW01-Medium.ttf") format("truetype"), url("../fonts/AlverataW01-Medium.svg#AlverataW01-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Barmeno';
  src: url("../fonts/Barmeno-Medium.eot");
  src: url("../fonts/Barmeno-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Barmeno-Medium.woff2") format("woff2"), url("../fonts/Barmeno-Medium.woff") format("woff"), url("../fonts/Barmeno-Medium.ttf") format("truetype"), url("../fonts/Barmeno-Medium.svg#Barmeno-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'StoneInformalITCW03-SmBdIt';
  src: url("../fonts/StoneInformalITCW03-SmBdIt.eot");
  src: url("../fonts/StoneInformalITCW03-SmBdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/StoneInformalITCW03-SmBdIt.woff2") format("woff2"), url("../fonts/StoneInformalITCW03-SmBdIt.woff") format("woff"), url("../fonts/StoneInformalITCW03-SmBdIt.ttf") format("truetype"), url("../fonts/StoneInformalITCW03-SmBdIt.svg#StoneInformalITCW03-SmBdIt") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kinesis Std';
  src: url("../fonts/KinesisStd-Semibold.eot");
  src: url("../fonts/KinesisStd-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/KinesisStd-Semibold.woff2") format("woff2"), url("../fonts/KinesisStd-Semibold.woff") format("woff"), url("../fonts/KinesisStd-Semibold.ttf") format("truetype"), url("../fonts/KinesisStd-Semibold.svg#KinesisStd-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  background-color: #ededed;
}

.headerBlock {
  -webkit-transform: rotate(2deg) skew(-1deg) translate(2%);
          transform: rotate(2deg) skew(-1deg) translate(2%);
  background-color: #e8cc9a;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  border-bottom-right-radius: 11.25em;
  width: 68%;
  left: 16%;
  background-size: 100%;
  background-position: bottom center;
  position: absolute;
  z-index: -10000;
  top: -5em;
  height: 755px;
}

@media only screen and (min-width: 1600px) {
  .headerBlock {
    font-size: 1.3vw;
    height: 874px !important;
  }
}

@media only screen and (min-width: 1500px) {
  .headerBlock {
    font-size: 1.3vw;
    height: 774px;
  }
}

@media only screen and (min-width: 1300px) {
  .headerBlock {
    font-size: 1.3vw;
    height: 810px;
  }
}

@media only screen and (max-width: 900px) {
  .headerBlock {
    height: 613px;
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 850px) {
  .headerBlock {
    height: 580px;
  }
}

@media only screen and (max-width: 680px) {
  .headerBlock {
    height: 562px;
  }
}

@media only screen and (max-width: 650px) {
  .headerBlock {
    height: 525px;
  }
}

@media only screen and (max-width: 580px) {
  .headerBlock {
    height: 430px;
  }
}

@media only screen and (max-width: 500px) {
  .headerBlock {
    height: 375px;
  }
}

@media only screen and (max-width: 400px) {
  .headerBlock {
    height: 350px;
  }
}

@media only screen and (max-width: 380px) {
  .headerBlock {
    height: 350px;
  }
}

@media only screen and (max-width: 350px) {
  .headerBlock {
    height: 320px;
  }
}

.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  height: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  font-family: "Arial",sans-serif;
  font-size: 11px;
  color: #5a5a5a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo > img {
  max-width: 94px;
}

.footer__logo {
  margin: 14px 10px 0;
}

.footer__copyright {
  margin: 14px 10px 0;
}

.footer__links {
  margin: 25px 10px 0;
}

.footer__links > a {
  text-decoration: none;
  color: #5a5a5a;
}

.footer__links > a:hover {
  text-decoration: underline;
}

.mainForm__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

.mainForm__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text__label {
  color: #fff;
  font-weight: 700;
  font-family: "Luset";
  font-size: 2.4em;
}

@media only screen and (max-width: 900px) {
  .text__label {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 550px) {
  .text__label {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 450px) {
  .text__label {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 360px) {
  .text__label {
    font-size: 0.9em;
  }
}

.group__input {
  width: 45%;
  background: 0 0;
  border: none;
  font-size: 6em;
  margin-top: 0.3em;
  outline: 0;
}

@media only screen and (min-width: 1800px) {
  .group__input {
    font-size: 10em;
  }
}

@media only screen and (min-width: 1500px) {
  .group__input {
    font-size: 8em;
  }
}

@media only screen and (max-width: 900px) {
  .group__input {
    font-size: 5em;
  }
}

@media only screen and (max-width: 850px) {
  .group__input {
    font-size: 4em;
  }
}

@media only screen and (max-width: 650px) {
  .group__input {
    font-size: 3em;
  }
}

@media only screen and (max-width: 500px) {
  .group__input {
    font-size: 2em;
  }
}

@media only screen and (max-width: 400px) {
  .group__input {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 350px) {
  .group__input {
    font-size: 1.2em;
  }
}

.group__bgImage {
  z-index: -1;
  width: 52%;
  position: absolute;
}

.mainForm__groupButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}

@media only screen and (min-width: 1600px) {
  .mainForm__groupButton {
    margin-top: 9em !important;
  }
}

@media only screen and (min-width: 1300px) {
  .mainForm__groupButton {
    margin-top: 6em;
  }
}

@media only screen and (max-width: 680px) {
  .mainForm__groupButton {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 500px) {
  .mainForm__groupButton {
    margin-top: 1.5em;
  }
}

.groupButton__submit {
  -webkit-transform: skew(-6deg) rotate(0.8deg);
          transform: skew(-6deg) rotate(0.8deg);
  border-radius: 3px 2px 8px 2px;
  font-size: 1.5em;
  font-weight: 700;
  width: 7em;
  position: relative;
  color: #fff;
  cursor: pointer !important;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 2.2em;
  line-height: 1;
  background-color: #e41b13;
  padding: 0 1.06667em;
  -webkit-transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-family: "Luset";
}

.groupButton__submit:hover {
  background-color: #fff;
  color: #e2191c;
}

@media only screen and (max-width: 700px) {
  .groupButton__submit {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 650px) {
  .groupButton__submit {
    font-size: 1.0em;
  }
}

@media only screen and (max-width: 500px) {
  .groupButton__submit {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 400px) {
  .groupButton__submit {
    font-size: 0.5em;
  }
}

.pack-form__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #e41b13;
  font-size: 1em;
}

.icon__scroll-arrow {
  width: 8em;
}

@media only screen and (max-width: 700px) {
  .icon__scroll-arrow {
    width: 7em;
  }
}

@media only screen and (max-width: 650px) {
  .icon__scroll-arrow {
    width: 6em;
  }
}

@media only screen and (max-width: 500px) {
  .icon__scroll-arrow {
    width: 4em;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 2%;
}

@media only screen and (max-width: 700px) {
  .header {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-top: 7%;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    margin-top: 10%;
  }
}

.header__logo {
  width: 30%;
  margin-left: 5%;
}

.header__mainText {
  font-family: "Luset";
  font-size: 2.8em;
  color: #e2191c;
  line-height: 1;
  margin-top: -0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  width: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  .header__mainText {
    font-size: 1.8em;
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 580px) {
  .header__mainText {
    font-size: 1em;
    width: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .header__mainText {
    width: 25%;
  }
}

.header__languages {
  margin-top: 4.5%;
  margin-left: 9%;
}

@media only screen and (max-width: 1200px) {
  .header__languages {
    margin-left: 7%;
  }
}

@media only screen and (max-width: 900px) {
  .header__languages {
    margin-left: 3%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 580px) {
  .header__languages {
    margin-left: 0%;
  }
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__logotype {
  width: 37%;
}

.lang {
  font-size: 16px;
  text-decoration: none;
  font-family: "Luset";
  color: white;
  font-weight: 700;
  -webkit-transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.lang:hover {
  color: #e2191c;
}

.lang__active {
  color: #e2191c;
}

.lang__delimeter {
  color: white;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mainText__logo {
  width: 1em;
  margin-left: 0.2em;
  vertical-align: middle;
}

.productsHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productsHeaderContainer__header {
  color: #e2191c;
  font-family: "Luset";
  font-weight: 700;
  line-height: 1;
  font-size: 2.3em;
}

.productsContainer {
  width: 100%;
  max-width: 820px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.productsContainer__listProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listProduct__product {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.product__textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textContainer__productText {
  font-family: "Luset";
  font-weight: 700;
  color: #e2191c;
  font-size: 1.4em;
}

/*# sourceMappingURL=mainczh79a.css.map */
