.header {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2%;

  @media only screen and (max-width: 700px) {

    & {
      margin-top: 5%;
    }
  }

  @media only screen and (max-width: 600px) {

    & {
      margin-top: 7%;
    }
  }

  @media only screen and (max-width: 450px) {

    & {
      margin-top: 10%;
    }
  }

  &__logo {
    width: 30%;
    margin-left: 5%;
  }

  &__mainText {
    font-family: $font-family-luset;
    font-size: 2.8em;
    color: #e2191c;
    line-height: 1;
    margin-top: -0.5em;
    display: flex;
    white-space: nowrap;
    width: 35%;
    justify-content: center;

    @media only screen and (max-width: 900px) {

      & {
        font-size: 1.8em;
        margin-top: 0.5em;
      }
    }

    @media only screen and (max-width: 580px) {

      & {
        font-size: 1em;
        width: 30%;
      }

    }

    @media only screen and (max-width: 400px) {

      & {
        width: 25%;
      }

    }

  }


  &__languages {
    margin-top: 4.5%;
    margin-left: 9%;

    @media only screen and (max-width: 1200px) {

      & {
        margin-left: 7%;
      }

    }

    @media only screen and (max-width: 900px) {

      & {
        margin-left: 3%;
        margin-top: 0;
      }

    }

    @media only screen and (max-width: 580px) {

      & {
        margin-left: 0%;
      }

    }

  }

  &__form {
    display: flex;
  }
}

.logo__logotype {
  width: 37%;
}

.lang {
  font-size: 16px;
  text-decoration: none;
  font-family: $font-family-luset;
  color: white;
  font-weight: 700;
  transition: color .2s cubic-bezier(.25,.46,.45,.94);

  &:hover {
    color: #e2191c;
  }

  &__active {
    color: #e2191c;
  }

  &__delimeter {
    color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

}

.mainText__logo {
  width: 1em;
  margin-left: 0.2em;
  vertical-align: middle;
}