mixin header(data)
    header.header
        .header__logo
            img.logo__logotype(src=""+data.logoSrc +"")
        .header__mainText
            h1.mainText__text Hoe zeg jij
                br
                .
                    I
                img(src=""+data.logoSrc +"").mainText__logo
                .
                    ve you?
        .header__languages
            .languages__list
                each langVal, index in data.languages
                    if data.languages[index + 1]
                      a(href = '#').lang= langVal
                      span.lang__delimeter= ' / '
                    else
                      a(href = '#').lang= langVal