@mixin defaultMainFormProperties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.mainForm__text {
  @include defaultMainFormProperties;
  margin-bottom: 1em;
}

.mainForm__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text__label {
  color: #fff;
  font-weight: 700;
  font-family: $font-family-luset;
  font-size: 2.4em;

  @media only screen and (max-width: 900px) {

    & {
      font-size: 1.8em;
    }
  }

  @media only screen and (max-width: 550px) {

    & {
      font-size: 1.5em;
    }
  }

  @media only screen and (max-width: 450px) {

    & {
      font-size: 1.3em;
    }
  }

  @media only screen and (max-width: 360px) {

    & {
      font-size: 0.9em;
    }
  }
}

.group__input {
  width: 45%;
  background: 0 0;
  border: none;
  font-size: 6em;
  margin-top: 0.3em;
  outline: 0;

  @media only screen and (min-width: 1800px) {

    & {
      font-size: 10em;
    }
  }

  @media only screen and (min-width: 1500px) {

    & {
      font-size: 8em;
    }
  }

  @media only screen and (max-width: 900px) {

    & {
      font-size: 5em;
    }

  }

  @media only screen and (max-width: 850px) {

    & {
      font-size: 4em;
    }

  }

  @media only screen and (max-width: 650px) {

    & {
      font-size: 3em;
    }

  }

  @media only screen and (max-width: 500px) {

    & {
      font-size: 2em;
    }

  }

  @media only screen and (max-width: 400px) {

    & {
      font-size: 1.8em;
    }

  }

  @media only screen and (max-width: 350px) {

    & {
      font-size: 1.2em;
    }

  }

}

.group__bgImage {
  z-index: -1;
  width: 52%;
  position: absolute;

}

.mainForm__groupButton {
  @include defaultMainFormProperties;
  margin-top: 3em;

  @media only screen and (min-width: 1600px) {

    & {
      margin-top: 9em!important;
    }
  }

  @media only screen and (min-width: 1300px) {

    & {
      margin-top: 6em;
    }
  }

  @media only screen and (max-width: 680px) {

    & {
      margin-top: 2em;
    }
  }

  @media only screen and (max-width: 500px) {

    & {
      margin-top: 1.5em;
    }
  }

}

.groupButton__submit {
  transform: skew(-6deg) rotate(0.8deg);
  border-radius: 3px 2px 8px 2px;
  font-size: 1.5em;
  font-weight: 700;
  width: 7em;
  position: relative;
  color: #fff;
  cursor: pointer!important;
  border: 0;
  box-shadow: none;
  height: 2.2em;
  line-height: 1;
  background-color: $red-color;
  padding: 0 1.06667em;
  transition: .2s cubic-bezier(.25,.46,.45,.94);
  font-family: $font-family-luset;

  &:hover {
    background-color: #fff;
    color: #e2191c;
  }

  @media only screen and (max-width: 700px) {

    & {
      font-size: 1.3em;
    }
  }

  @media only screen and (max-width: 650px) {

    & {
      font-size: 1.0em;
    }
  }

  @media only screen and (max-width: 500px) {

    & {
      font-size: 0.8em;
    }
  }

  @media only screen and (max-width: 400px) {

    & {
      font-size: 0.5em;
    }
  }


}

.pack-form__scroll {
  display: flex;
  justify-content: center;
  fill: $red-color;
  font-size: 1em;
}

.icon__scroll-arrow {
  width: 8em;

  @media only screen and (max-width: 700px) {

    & {
      width: 7em;
    }
  }

  @media only screen and (max-width: 650px) {

    & {
      width: 6em;
    }
  }

  @media only screen and (max-width: 500px) {

    & {
      width: 4em;
    }
  }

}
