mixin formInput(data)
    form.mainForm
        .mainForm__text
            label.text__label= data.mainLabel
        .mainForm__group
            image(src=""+data.bgImage+"").group__bgImage
            input.group__input
        .mainForm__groupButton
            button.groupButton__submit
               span.submit__text= 'Pas toe'
        a.pack-form__scroll(href="#" data-scroll-to="#packsVariants")
            +icon('scroll-arrow')
